$color-blue-dark: #102b5b;
$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$product-color-black: #000;
$product-color-white: #fff;
$product-color-grey: #999;
$product-color-purple: #686a9b;
$product-color-dark-blue: #1a168e;
$product-color-blue: #24b4f1;
$link-color-deep-blue: #4e78a0;
$title-color-dark-blue: #48577e;